@import '~/assets/scss/abstracts/variables';

.password {
  &__wrap {
    position: relative;
    width: 100%;

    input {
      margin-bottom: 0;
    }
  }

  &__input-wrap {
    width: 100%;
    margin-bottom: 15px;
    
    &.error {
      .login__error-wrap span {
        display: block;
      }
      input {
        border-color: $color-red;
      }
    }
  }

  &__error-wrap {
    height: 14px;
    width: 100%;

    span {
      display: none;
      font-size: 10px;
      color: $color-red;
    }
  }

  &__visibility-wrap {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
    
    svg {
      display: block;
    }

    span {
      position: absolute;
      display: block;
      width: 0;
      top: 49%;
      height: 1px;
      transition: width 0.15s ease;
      background:#464545;
      left: 50%;
      z-index:1;
      transform: translateX(-50%) rotate(-45deg);
    }

    &.active {
      span {
        width: 16px;
      }
    }
  }

}
 