@import "~/assets/scss/abstracts/variables";

.index {
  margin-bottom: 400px;
  
  &__inner {
    display: flex;
  }  

  &__simple {
    border: 2px solid $color-yellow;
    margin-right: 46px;
  }

  &__block {
    position: relative;
    padding: 20px;
    height: 285px;
    width: calc(50% - 46px);
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 400;
  }

  &__content {
    margin-bottom: 50px;
  }

  &__upload-btn {
    cursor: pointer;
    width: 290px;
    margin-bottom: 10px;
  }

  &__template {
    display: flex;
    align-items: center;
  }
  &__template-text {
    margin-left: 10px;
  }

  &__input {
    display: none;
  }

  &__parag {
    color: $color-gray;
    max-width: 340px;
  }

  &__descr {
    font-size: 10px;
    color: $color-gray;
  }

  &__bottom {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100%;
  }
  
}

@media (max-width: 1200px) {
  .index {
    margin-bottom: 0;

    &__simple {
      margin-right: 26px;
    }

    &__block {
      width: calc(50% - 26px);
    }

    &__title {
      font-size: 28px;
    }
    

  }
}

@media (max-width: 767px) {
  .index {
    &__inner {
      flex-direction: column;
    }

    &__simple {
      margin-bottom: 10px;
    }

    &__block {
      width: 100%;
    }

    &__title {
      font-size: 22px;
    }

    &__upload-btn {
      width: 100%;
    }

    &__bottom {
      width: calc(100% - 40px);
    }
  
  }
}

