@import "~/assets/scss/abstracts/variables";

.loading-progress {
  width: 100%;

  &__bar {
    height: 14px;
    border: 1px solid $color-silver;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: inherit;
    overflow: hidden;
  }

  &__line {
    width: 28%;
    height: 100%;
    transition: width 0.3s ease;
    background-color: #219653;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__percent,
  &__items {
    margin-bottom: 5px;
    font-size: 12px;
    text-align: right;
  }

  &__items {
    color: $color-silver;
  }
}

@media (max-width: 767px) {
  .loading-progress {
    &__bar {
      height: 10px;
    }

    &__percent,
    &__items {
      margin-bottom: 5px;
      font-size: 10px;
    }

    &__percent {
      margin-bottom: 2px;
    }

    &__doc-name {
      font-size: 12px;
    }

  }
}
