.top {
  &__heading {
    margin: 80px 0 10px 0;
  }

  &__text {
    margin-bottom: 50px;
  }

  &__progress-wrap {
    margin-bottom: 85px;
    display: flex;
    justify-content: center;
  }

}

@media (max-width: 767px) {
  .top {
    &__text {
      margin-bottom: 38px;
    }

    &__progress-wrap {
      margin-bottom: 68px;
    }

  }
}
