@import "~/assets/scss/abstracts/variables";

.redactor {
  display: flex;

  &__item {
    cursor: pointer;
    margin-right: 27px;

    svg  {
      padding: 5px;
      border-radius: 4px;
    }
    
    &:hover,
    &.active {
      svg {
        background-color: $color-gainsboro; 
      }
    }
  }

}

@media (max-width: 767px) {
  .redactor {
    position: fixed;
    bottom: 50px;
    left: 0;
    width: 100%;
    overflow-x: auto;
    padding: 0 20px;
  }
}
