$color-base: #002D04;
$color-base-light: #0C3E12;

$color-smoke: #F6F6F6;
$color-gainsboro: #E0E0E0;
$color-silver: #BDBDBD;
$color-gray: #828282;
$color-yellow: #FFC813; 
$color-orange: #F2994A;
$color-red: #EB5757;

$border-default: 1px solid $color-gainsboro;
