.subheader {
  background-image: url('../images/background.svg');
  background-size: cover;
  background-position: center;

  &__inner {
    margin: 50px 0 60px 0;
  }

  &__heading {
    margin: 0 0 35px 0;
    font-size: 50px;
    color: #fff;
    align-items: center;
    font-weight: 400;
    text-align: center;
  }

  &__search {
    margin-bottom: 50px;
  }

  &__popular {
    color: #fff;

    h3 {
      font-size: 22px;
      margin-bottom: 20px;
      font-weight: 400;
      margin: 0 0 20px 0;
    }
  }

  &__tag-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    line-height: 28px;
    font-size: 14px;
    font-weight: 300;

    li {
      display: flex;
      align-items: center;
      margin-right: 21px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 15px;
        margin-right: 3px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1200px) {
  .subheader {
    &__heading {
      font-size: 36px;
    }

    &__inner {
      margin: 20px 0 0 0;
    }

    &__search {
      margin-bottom: 35px;
    }
  
  }
}

@media (max-width: 767px) {
  .subheader {    
    margin-top: 35px;

    &__inner {
      margin-top: 10px;
    }

    &__heading {
      margin-bottom: 14px;
      font-size: 22px;
    }

    &__popular {
      display: none;
    }
  }
}
