@import "~/assets/scss/abstracts/variables";

.fixed-category {
  box-sizing: border-box;
  width: 545px;
  border: 1px solid $color-gainsboro;
  border-radius: 10px;
  background-color: #fff;
  padding: 13px 20px;
  font-size: 16px;
  margin-bottom: 2px;
  font-weight: 500;

  &__specify {
    font-size: 12px;
    color: $color-gray;
  }
}

@media (max-width: 1200px) {
  .fixed-category {
    width: 100%;
    font-size: 12px;
    padding: 10px 10px 10px 15px;
  }
}
