.uploaded {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 22%;

  img,
  svg {
    display: block;
  }

  &__indicators {
    &.done {
      .uploaded__done {
        display: block;
      }
      .uploaded__progress {
        display: none;
      }
    }
  }

  &__progress {
    position: relative;
    top: -2px;
    animation: 0.8s rotate linear infinite;
  }

  &__done{
    transform: translateY(-4px);
  }

  &__done {
    display: none;
    width: 24px;
    height: 24px;
  }
}

@keyframes rotate {
  0% {transform: rotate(0)}
  100% {transform: rotate(360deg)}
}

@media (max-width: 1200px) {
  .uploaded {
    width: 49%;
  }
}

@media (max-width: 767px) {
  .uploaded {
    font-size: 12px;
    width: 100%;

    &__progress,
    &__done {
      height: 18px;
      width: 18px;
      svg,
      img {
        height: 18px;
        width: 18px;
      }
    }

    &__done {
      transform: translateY(1px);
    }

    &__progress {
      position: static;
    }

  }
}
