.title-sellers {
  margin-bottom: 20px;
  font-style: 'HelveticaNeueCyr';
  font-size: 28px;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .title-sellers  {
    font-size: 16px;
    font-weight: 550;
  }
}
