@import '~/assets/scss/abstracts/mixins';

.product {
  &__double-container {
    display: flex;
    padding-bottom: 50px;
  }

  &__left {
    width: calc(100% - 410px);
    margin-right: 40px;
  }

  &__right {
    width: 370px;
    display: flex;
    flex-direction: column;
  }

  &__service {
    &-descr {
      font-size: 14px;
    }

    &-img {
      display: block;
      @include image-cover;

      &-wrap {
        width: 755px;
        height: 400px;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .product {
    &__left {
      width: 100%;
      margin-right: 0;
      margin-bottom: 50px;
    }
    &__double-container {
      flex-direction: column;
    }
    &__right {
      width: 100%;
      flex-direction: row;
    }

    &__seller,
    &__buy {
      width: 50%;
    }
    &__seller {
      order: -1;
      margin-right: 30px;
    }

    &__service {
      &-img {
        &-wrap {
          width: 100%;
        }
      }
    }
  }
}


@media (max-width: 767px) {
  .product {
    &__right {
      flex-direction: column;
    }

    &__left {
      margin-bottom: 50px;
    }

    &__seller,
    &__buy {
      width: 100%;
    }
    &__seller {
      order: initial;
      margin-right: 0;
    }

    &_mob-padding-top {
      padding-top: 100px;
    }

    &__service {
      &-img {
        &-wrap {
          height: 250px;
        }
      }
    }
  }
}

