@import "../abstracts/variables";

.search {
  &__form {
    border: none;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: relative;
  }

  &__arrow-down {
    position: absolute; 
    top: 23px; 
    right: 22px;
  }

  &__right-block {
    display: flex;
  }

  &__city-dropdown,
  &__input {
    box-sizing: border-box;
    border: 1px solid $color-gainsboro;
    background-color: inherit;
    border-radius: 10px;
  }

  &__city-dropdown {
    width: 249px;
    margin: 0;
    height: 100%;
    position: relative;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  &__dropping-location,
  &__dropping-results {
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-4%);

    &.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__dropping-results {
    width: 100%;
    box-sizing: border-box;
    padding: 17px 0 0 0;
  }

  &__selected {
    padding: 15px;
    padding-left: 55px;
    border-left: 1px solid $color-gainsboro;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    // height: 49px;

    &::after {
      content: url('../icons/search/location.svg');
      position: absolute;
      left: 23px;
      top: 15px;
    }
  }

  &__dropping-location {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    top: 60px;
    box-shadow: 0 3px 15px -4px rgba(68, 68, 68, 0.4);
    border-radius: 10px;
    min-width: 268px;
    padding: 10px 0;
  }

  &__region-list {
    // mozilla scrollbar 
    scrollbar-width: thin;
    scrollbar-color: $color-gainsboro transparent;

    &::-webkit-scrollbar{
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-gainsboro;
      border-radius: 2px;
      padding-right: 5px;
    }
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 250px;
    max-height: 290px;
    overflow-y: auto;

    li {
      user-select: none;
      cursor: pointer;
      padding: 17px 20px;
      position: relative;

      &:hover {
        background-color: #F2F2F2;
      }

      &::after {
        position: absolute;
        right: -5px;
      }
    }
  }

  &__find {
    background-color: $color-yellow;
    box-sizing: border-box;
    height: 100%;
    width: 147px;
    padding-right: 70px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 69px 0 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border: 2px solid $color-yellow;
    transition: all 0.3s ease;

    &::after {
      content: url('../icons/search/find.svg');
      position: absolute;      
      right: 32px;
      top: 8px;
    }

    &:hover {
      background-color: #fff;
    }
  }

  &__input,
  &__find {
    outline: none;
  }

  &__input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    padding-left: 30px;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    outline: none;
    box-shadow: none;

    &::placeholder {
      font-size: 14px;
      color: $color-gray;
    }
  }

  &__searchbar-wrap {
    width: 100%;
    z-index: 3;
  }

  &__dropping-results {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    margin-top: 10px;
    border-radius: 10px;
    background-color: #fff;
  }

  &__found-products-list {
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;

    li {
      padding: 8px 42px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      align-items: center;

      &:hover {
        background-color: #F2F2F2;
      }
    }
  }

  &__all-results-btn {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 17px;
    color: #F2994A;
    font-size: 10px;
    margin-left: 36px;
    position: relative;
    padding-right: 5px;

    &::after {
      content: '';
      background-image: url('../icons/orange-arrow.svg');
      position: absolute;
      height: 16px;
      width: 16px;
      top: -1px;
      transition: transform 0.28s ease;
    }

    &:hover::after {
      transform: translateX(4px);
    }
  }

  &__photo {
    margin-right: 15px;
    flex-shrink: 0;
  }

  &__price {
    flex-shrink: 0;
    margin-left: 15px;
  }

  &__found-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__name {
    line-height: 18.9px;
    max-width: 560px;
  }

  &__type {
    color: $color-silver;
    font-size: 10px;
  }

  &__categories-container {
    margin: 0 35px;
    border-top: 1px solid $color-gainsboro;
  }

  &__category-list {
    padding: 0 0 20px 0;
    margin: 0 -35px;
    list-style-type: none;
    
    li {
      cursor: pointer;
      padding: 6px 0 6px 6px;
      padding: 6px 42px;

      &:hover {
        background-color: $color-smoke;
      }
    }
  }

  &__quantity {
    color: $color-silver;
  }
}

@media (max-width: 1200px) {
  .search {
    &__dropping-results {
      padding-left: 0;
      padding-right: 0;
    }
      
    &__name,
    &__price {
      font-size: 10px;
      line-height: 13.5px;
    }

    &__found-products-list {
      li {
        padding: 3px 25px 3px 15px;
      }
    }

    &__category-list {
      padding: 0 0 15px 15px;
      padding-left: 0;
      border-top: 1px solid $color-gainsboro;

      li {
        padding: 6px 15px;
      }
    }

    &__categories-container {
      padding: 0;
      border-top: none;
    }

    &__all-results-btn {
      margin-bottom: 8px;
      margin-left: 15px;
    }

    &__find {
      padding: 0 17px;
      width: 117px;
      
      &::after {
        right: 12px;
      }
    }
    
    &__city-dropdown {
      width: 193px;
    }
  }
}

@media (max-width: 767px) {
  .search {
    &__find::after{
      top: 50%;
      right: 50%;  
    }

    &__dropping-location {
      top: 40px;
      right: -45px;
    }

    &__city-dropdown,
    &__selected,
    &__find {
      width: 46px;
      padding: 0;
    }

    &__selected-text,
    &__find-text {
      display: none;
    }

    &__selected::after {
      top: 50%;
      left: 50%;
    } 

    &__find::after {
      top: 1px;
      right: 6px;
    }

    &__selected::before {
      content: none;
    }

    &__city-dropdown,
    &__input {
      height: 100%;
    }

    &__form {
      height: 36px;
    }

    &__input {
      padding-left: 14px;
    }

    &__city-dropdown {
      border-left: 1px solid $color-silver;
    }

    &__selected {
      &::after {
        top: 7px;
        left: 12px;
      }
    }

    &__dropping-results {
      position: absolute;
    }

    &__dropping-results {
      margin-top: 5px;
    }

  }
}
