.space-btw {
  &__title {
    font-weight: 550;
    font-size: 16px;
    margin-bottom: 30px;
  }

  &__item {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &:last-child {
      margin-bottom: 0;
    }
  }

}

@media (max-width: 767px) {
  .space-btw {
    font-size: 12px;

    &__title {
      margin-bottom: 20px;
    }
    
    &__item {
      margin-bottom: 13px;
    }
  }
}
