.vertical-cards {
  overflow: hidden;

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
  }

  &__item {
    min-width: 215px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #CEDCFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    margin-right: 23px;
    box-sizing: border-box;
    height: 80px;
    max-height: 80px;
    overflow-wrap: break-word;

    &:last-child {
      margin-right: 0;
    }
  }

  &__description {
    font-size: 14px;
    width: 60%;
    line-height: 20px;
  }

  &__image-wrap {
    width: 70px;
    height: 52px;
    flex-shrink: 0;
    
    img {
      object-fit: contain;      
      height: 100%;
      width: 100%;
    }
  }

  // &__show-all-btn {
  //   display: none;
  // }

}

@media (max-width: 1200px) {
  .vertical-cards {
    overflow: auto;

    &__list {
      grid-template-columns: repeat(3, 1fr);    
    }

  }
}

@media (max-width: 767px) {
  .vertical-cards {
    // display: none;


    

    &__list {
      // grid-template-columns: repeat(1, 1fr);
      // grid-gap: 10px;
      // display: inline-flex;
      max-height: 440px;
      // overflow: initial;
      display: none;
    }

    // &__show-all-btn {
    //   display: block;
    //   width: 100%;
    //   margin-top: 20px;
    //   text-transform: uppercase;
    //   cursor: pointer;
    // }
  }
  
}
