
/// MARGIN BOTTOM
.mb-140 {
  margin-bottom: 100px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-45 {
  margin-bottom: 45px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}

/// MARGIN TOP
.mt-100 {
  margin-top: 100px !important;
}
.mt-90 {
  margin-top: 90px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-45 {
  margin-top: 45px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-0 {
  margin-top: 0 !important;
}

@media (max-width: 1200px) {
  /// MARGIN BOTTOM
  .mb-100-md {
    margin-bottom: 100px !important;
  }
  .mb-60-md {
    margin-bottom: 60px !important;
  }
  .mb-50-md {
    margin-bottom: 50px !important;
  }
  .mb-40-md {
    margin-bottom: 40px !important;
  }
  .mb-30-md {
    margin-bottom: 30px !important;
  }
  .mb-25-md {
    margin-bottom: 25px !important;
  }
  .mb-20-md {
    margin-bottom: 25px !important;
  }
  .mb-15-md {
    margin-bottom: 15px !important;
  }
  .mb-10-md {
    margin-bottom: 10px !important;
  }
  .mb-0-md {
    margin-bottom: 0 !important;
  }

  /// MARGIN TOP
  .mt-40-md {
    margin-top: 40px !important;
  }
  .mt-10-md {
    margin-top: 10px !important;
  }
  .mt-0-md {
    margin-top: 0 !important;
  }
}

@media (max-width: 767px) {
  /// MARGIN BOTTOM
  .mb-200-sm {
    margin-bottom: 200px !important;
  }
  .mb-180-sm {
    margin-bottom: 180px !important;
  }
  .mb-150-sm {
    margin-bottom: 150px !important;
  }
  .mb-80-sm {
    margin-bottom: 80px !important;
  }
  .mb-70-sm {
    margin-bottom: 70px !important;
  }
  .mb-50-sm {
    margin-bottom: 50px !important;
  }
  .mb-40-sm {
    margin-bottom: 40px !important;
  }
  .mb-35-sm {
    margin-bottom: 35px !important;
  }
  .mb-30-sm {
    margin-bottom: 30px !important;
  }
  .mb-25-sm {
    margin-bottom: 25px !important;
  }
  .mb-20-sm {
    margin-bottom: 20px !important;
  }
  .mb-10-sm {
    margin-bottom: 10px !important;
  }
  .mb-15-sm {
    margin-bottom: 15px !important;
  }
  .mb-0-sm {
    margin-bottom: 0 !important;
  }

  /// MARGIN TOP
  .mt-100-sm {
    margin-top: 100px !important;
  }
  .mt-90-sm {
    margin-top: 90px !important;
  }
  .mt-75-sm {
    margin-top: 75px !important;
  }
  .mt-70-sm {
    margin-top: 70px !important;
  }
  .mt-85-sm {
    margin-top: 85px !important;
  }
  .mt-0-sm {
    margin-top: 0 !important;
  }
}
